<aside class="sidebar">
  <div class="sidebar__brand">ServMatch</div>

  <div class="sidebar__user">
    <div class="sidebar__avatar">
      <% if (locals.usuario && locals.usuario.foto) { %>
        <img src="<%= locals.usuario.foto %>" alt="Foto" />
        <% } else { %>
          <div class="sidebar__avatar-placeholder"></div>
          <% } %>
    </div>
    <div class="sidebar__user-info">
      <span class="sidebar__user-name">
        <%= locals.usuario ? locals.usuario.nome : 'Usuário' %>
      </span>
      <span class="sidebar__user-role">
        <%= locals.usuario ? locals.usuario.perfil : '' %>
      </span>
    </div>
  </div>

  <nav class="sidebar__nav">
    <ul>
      <li>
        <a href="<%= locals.usuario && locals.usuario.perfil === 'Contratante' ? '/usuarios/contratante' : '/usuarios/candidato' %>"
        class="sidebar__nav-link <%= locals.currentPage === 'home' ? 'sidebar__nav-link--active' : '' %>">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="20" height="20">
        <path d="M10 20v-6h4v6h5v-8h3L12 3 2 12h3v8z" />
        </svg>
        <span>Home</span>
        </a>
      </li>
    <%if (locals.usuario && (locals.usuario.perfil==='Candidato' )) { %>
    <li>
    <a href="/usuarios/candidato/vagas"
    class="sidebar__nav-link <%= locals.currentPage === 'vagas' ? 'sidebar__nav-link--active' : '' %>">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="20" height="20">
    <path
    d="M16 11c1.66 0 2.99-1.34 2.99-3S17.66 5 16 5c-1.66 0-3 1.34-3 3s1.34 3 3 3zm-8 0c1.66 0 2.99-1.34 2.99-3S9.66 5 8 5C6.34 5 5 6.34 5 8s1.34 3 3 3zm0 2c-2.33 0-7 1.17-7 3.5V19h14v-2.5c0-2.33-4.67-3.5-7-3.5zm8 0c-.29 0-.62.02-.97.05 1.16.84 1.97 1.97 1.97 3.45V19h6v-2.5c0-2.33-4.67-3.5-7-3.5z" />
    </svg>
    <span>Minhas Vagas</span>
    </a>
    </li>
    <% } else { %>
    <li>
    <a href="/usuarios/contratante/vagas"
    class="sidebar__nav-link <%= locals.currentPage === 'vagas' ? 'sidebar__nav-link--active' : '' %>">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="20" height="20">
    <path
    d="M16 11c1.66 0 2.99-1.34 2.99-3S17.66 5 16 5c-1.66 0-3 1.34-3 3s1.34 3 3 3zm-8 0c1.66 0 2.99-1.34 2.99-3S9.66 5 8 5C6.34 5 5 6.34 5 8s1.34 3 3 3zm0 2c-2.33 0-7 1.17-7 3.5V19h14v-2.5c0-2.33-4.67-3.5-7-3.5zm8 0c-.29 0-.62.02-.97.05 1.16.84 1.97 1.97 1.97 3.45V19h6v-2.5c0-2.33-4.67-3.5-7-3.5z" />
    </svg>
    <span />Vagas Anunciadas<span />
    </a>
    </li>
    <li>
    <a href="/usuarios/contratante/anuncio"
    class="sidebar__nav-link <%= locals.currentPage === 'vagas' ? 'sidebar__nav-link--active' : '' %>">

    </a>
    </li>
    </ul>
    <% } %>
  </nav>

  <div class="sidebar__footer">
    <a href="/usuarios/logout" class="sidebar__logout">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="20" height="20">
        <path
          d="M17 7l-1.41 1.41L18.17 11H8v2h10.17l-2.58 2.58L17 17l5-5-5-5zM4 5h8V3H4c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h8v-2H4V5z" />
      </svg>
      <span>Sair</span>
    </a>
  </div>
</aside>